PORT=3002
NODE_ENV=production

DB_HOST=localhost
DB_PORT=3306
DB_NAME=bignlean
DB_USER=username
DB_PASSWORD=password

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=30d

# Xpressbees shipping
XPRESSBEES_MODE=live
XPRESSBEES_EMAIL=xpressbees mail
XPRESSBEES_PASSWORD=xpressbees password

# Firebase Admin SDK
FIREBASE_PROJECT_ID= firebase project id
FIREBASE_DATABASE_URL= database url
FIREBASE_SERVICE_ACCOUNT_JSON= json for firebase

# Razorpay Credentials
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_CHECKOUT_NAME=BigNLean
RAZORPAY_CHECKOUT_DESCRIPTION=Fitness Supplements & Sports Nutrition
RAZORPAY_CHECKOUT_LOGO=https://bignlean.com/assets/logo.png
RAZORPAY_CHECKOUT_THEME_COLOR=#E70F0F
